ConfigArgParse==0.10.0
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
requests==2.9.1
tornado==4.4.2
configobj==5.0.6
pexpect==4.2.1
python-chess==0.16.1
gunicorn==19.6.0
peewee
pysqlite
-e git+https://github.com/kalefranz/python-cjson#egg=python-cjson
